<% if @user_spaces.count > 0 %>
  <ul id="spaces">
    <% @user_spaces.each do |space| %>
    <li>
      <%= space.name %><br>
      <p>Location: <%= space.location %></p>
      <p>Description: <%= space.description %></p>
      <p>Price: £<%= space.price %> per night</p>
      <form action="/space/delete" method="post">
        <input type="hidden" name="space_id" value="<%= space.id %>">
        <input type="submit" value="DELETE">
      </form>
    </li>
    <% end %>
  </ul>
<% else %>
  <h2>"You  don't have any spaces!"</h2>
<% end %>
