
    <h1>Makers BnB - Invite strangers into your home</h1>

    <div class="">

      <h2>Spaces</h2>

      <ul id="spaces">
        <% @spaces.each do |space| %>
        <li>
          <%= space.name %><br>
          <p>Location: <%= space.location %></p>
          <p>Description: <%= space.description %></p>
          <p>Price: £<%= space.price %> per night</p>
          <p>Email: <%= space.user.email %></p>
          <p>Space available: <%= space.available %> </p>
          <form class="booking" action="/book" method="post">
            <input class="check_in" type="date" name="check_in">
            <input type="hidden" name="space_id" value="<%= space.id %>">
            <input type="submit" value="Request space">
          </form>
        </li>
        <% end %>
      </ul>

    </div>
